#following {
	background-color: #978FF5;
}

.people-pic{
	height: 200px;
	width: 40%; 
}

.thumbnail > img {
    float: left;
    height: 200px;
    overflow: hidden;
    margin-right: 9px;
}


.thumbnail > .caption {
    padding: 4px;
}

.btn-view{
	background-color: #b9d68a; 
	border-color: #b9d68a;
    color:black;
}

.btn-view:hover {
    background-color:#a9c67a;
    border-color: #b9d68a;
}

#search{
	float: right; 
}

.people-info{
	text-align: center; 
}

#close-modal{
	margin: 10px; 
	float: right;
}

.bio{
	margin: 10px; 
	text-align: left; 
	border: 1px black; 
}

.thumbnail {
    width:100%;
    float:left;
    height:210px;
}

input:focus, input:active, select:focus, select:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset !important;
    border: 1px solid #B9D68A !important;
}
