.main-nav-title {
  color: #f7f7f5;
  font-family: 'Changa One', cursive;
  font-size: 36px;
  text-align: left;
}

.top-banner {
  text-align: center;
  background-color: #4c66a4;
  position: fixed;
  border-bottom: 1px solid black;
  width: 100%;
  z-index:1000;
  color: #f7f7f5;
}

.top-banner-bubble {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.title {
  color: #4c66a4;
  font-family: 'Changa One', cursive;
  font-size: 36px;
  text-align: left;
}

.sidebar {
    padding-top:20px;
  background-color: #f7f7f5;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 10px;
  overflow: auto;
  text-align: center;
  width: 250px;
  float: left;
  position: fixed;
}

.reason {
  font-size: 30px;
  text-align: center;
  line-height: 51px;
}

.main-nav > li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-nav > li > a {
  transition: border-radius 0.3s ease;
  color: white;
  font-weight: normal;
  font-size: 18px;
  /*text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;*/
  background-color: #4c66a4;
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-nav > li > a:hover {
  background-color: rgba(76,102,164,0.7);
  color: white;
  border-radius: 20px 4px 4px 20px;
}

.main-nav > li > .main-nav-on-page {
  border-left: 3px solid !important;
  border-top: 3px solid !important;
  border-bottom: 3px solid !important;
  border-right: 0px solid !important;
  border-color: black !important;
  border-radius: 20px 4px 4px 20px !important;
  background-color: rgba(76,102,164,0.7);
}

.profile-picture-nav {
  height: 40px;
  float: right;
  margin-right: 10px;
  margin-left: 5px;
}

.profile-picture-side {
  height: 250px;
  padding: 20px;
}

.profile-name {
  text-align: left;
  float: right;
}

a.sign-out {
  color: white;
}

a.sign-out:hover {
  color: white;
}

.following-list {
  margin-top: 10px;
  padding-top: 2px;
}

.following-list-label {
  margin-bottom: 7px;
  font-weight: bold;
}

.following-nav > li > a {
  transition: background-color 0.3s ease;
  color: black;
  padding: 5px;
  cursor: pointer;
}

.following-nav > li > a:hover {
  color: black;
  background-color: rgba(76,102,164,0.7);
}

#content {
  float: left;
  margin-top: 10px;
  text-align: center;
  z-index: 1;
  margin-left: 20px;
}

body {
  background-color: #E8E8E8;
}

.following-line {
  width: 80px;
}


.top-links {
  padding-right: 40px;
  margin-top: 5px;
  float: right;
}

#frame-progress {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
    margin-bottom:20px;
}

.progress {
    margin-bottom:5px;
    margin-top:5px;
}

.progress-bar {
  background-color: #4c66a4;
}

h1.page-title {
    font-family: 'Changa One', cursive;
    margin-top: 0px;
    color: #4c66a4;
    text-align: center;
}

#update-progress-btn {
    transition: background-color 0.5s ease, border-width 0.5s ease, border-radius 0.5s ease;
    background-color: #E8E8E8;
    border: 3px solid;
    border-color: #FFB300;
    margin-bottom:15px;
    /*box-shadow: -7px -7px 7px #FF9900 inset;*/
    font-weight: bold;
    width:200px;
    height:50px;
    text-shadow: text-shadow: 0 -2px 0 #888;
    font-size:18px;
    color: black;
}

#update-progress-btn:hover {
    background-color: #f7f7f5;
    border-width: 5px;
    border-radius: 25px;
}

.date-selected {
    text-align:center;
    font-weight: bold;
    margin-bottom:25px;
    font-size: 20px;
}

#update-div .control-label {
    font-weight: normal;
}

#update-div .form-control:focus {
    box-shadow: none;
}

.update-button-div {
    text-align: right;
}

#update-div {
    margin-top:30px;
}

.alert-saved {
    display:none;
}

#view-following-modal .modal-dialog {
    width:80%;
}

#view-following-modal .modal-header {
    text-align:center;
    
}

#view-following-modal .modal-title {
    font-size:24px;
    font-weight:bold;
}

#view-graph-container {
    text-align:center;
}

.view-saved-cigarettes-container {
    font-size:24px;
    margin-top:40px;
    text-align:center;
}

.view-cigarette-facts-container {
    margin-top:10px;
    margin-bottom:30px;
    font-size:24px;
}

#view-bio-container {
    text-align:left;
    font-size:18px;
    border-radius: 4px;
    background-color: #4c66a4;
    color: #f7f7f5;
    border: 1px solid black;
    line-height:30px;
    padding-left:25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.view-bio-title {
    text-align:center;
    font-size: 22px;
    font-weight:bold;
    margin-bottom: 10px;
}

.close {
    float:right;
}

.alert-begin {
    color:white;
    background-color: rgba(76,102,164,0.7);
}

#update-cigarettes-btn {
    transition: background-color 0.3s ease;
    border-color: rgb(76,102,164);
    background-color: #f7f7f5;
}

#update-cigarettes-btn:hover {
    color:white;
    background-color: rgba(76,102,164,0.7);
}

.ui-state-active.ui-state-default.ui-state-highlight, .ui-widget-content .ui-state-active.ui-state-default.ui-state-highlight {
  /*any CSS styles you want overriden i.e.*/
  border: 1px solid #FBD850;
    background: url('images/ui-bg_glass_65_ffffff_1x400.png') repeat-x scroll 50% 50% #FFF;
    font-weight: bold;
    color: #EB8F00;
}

.ui-state-default.ui-state-highlight, .ui-widget-content .ui-state-default.ui-state-highlight {
  /*any CSS styles you want overriden i.e.*/
  border: 1px solid #CCC;
    background: url('images/ui-bg_glass_100_f6f6f6_1x400.png') repeat-x scroll 50% 50% #F6F6F6;
    font-weight: bold;
    color: #1C94C4;
}
.ui-state-hover.ui-state-highlight, .ui-widget-content .ui-state-hover.ui-state-highlight {
    border: 1px solid #FBCB09;
    background: url('images/ui-bg_glass_100_fdf5ce_1x400.png') repeat-x scroll 50% 50% #FDF5CE;
    font-weight: bold;
    color: #C77405;
}

.goal-title, #view-bio {
    margin-left:0px;
    margin-right:0px;
}

#view-graph-container {
    border-radius: 4px;
    background-color: #f7f7f5;
}


.goals-column {
    padding-left: 0px;
}

#goals-container {
    margin-top: 20px;
    text-align:left;
    font-size:18px;
    border-radius: 4px;
    /*background-color: #4c66a4;*/
    /*color: #f7f7f5;*/
    background-color: #f7f7f5;
    color: #4c66a4;
    /*border: 1px solid black;*/
    line-height:30px;
    padding-left:25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
}

.goals-title {
    text-align:center;
    font-size: 22px;
    font-weight:bold;
    margin-bottom: 10px;
}

.content-row {
    margin-left: 0px;
    margin-right: 0px;
}

.saved-cigarettes-container {
    font-size:24px;
    margin-top:40px;
}

.cigarette-facts-container {
    margin-top:10px;
    margin-bottom:30px;
    font-size:24px;
}

#saved-money-details {
    display: table-cell;
    vertical-align: middle;
    /*padding-bottom: 10px;*/
}

#saved-title {
    margin-top: 0px;
}

#saved-money-cigarettes-container {
    margin-top: 20px;
    float: right;
    text-align:left;
    font-size:18px;
    border-radius: 4px;
    /*background-color: #4c66a4;*/
    /*color: #f7f7f5;*/
    background-color: #f7f7f5;
    color: #4c66a4;
    /*border: 1px solid black;*/
    line-height:30px;
    padding-left:25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.cigarettes-resisted {
    text-align: center;
    border-right: 1px solid;
    border-color: #4c66a4;
}

.money-saved {
    text-align: center;
    border-left: 1px solid;
    border-color: #4c66a4;
}

.saved-money {
    color: #FFB300;
}

.saved-cigarettes {
    color: #FFB300;
}

.progress-description {
    position: absolute;
    top:100px;
    left:65px;
    text-align:center;
    width:120px;
    font-weight:bold;
    color: rgba(0,0,0,.7);
    font-size:23px;
}

.main-nav {
    margin-top: 15px;
}

.btn.following {
    transition: background-color 0.3s ease;
    color:white;
    background-color: rgba(76,102,164,0.7);
}

.btn.following:hover {
    background-color: rgba(76,102,164,0.3);
    color:black;
}
