.top-banner {
    
    text-align: center;
    background-color:#95AA61;
    box-shadow: 0px -5px 10px #657A31 inset;
    position: fixed;
    color: white;
    text-shadow:
    -1px -1px 0 #354A01,
    1px -1px 0 #354A01,
    -1px 1px 0 #354A01,
    1px 1px 0 #354A01;
}



.title {
    font-size:60px;
    
}

.sidebar {
    background-color:#C0C0A0;
    margin-top:10px;
    padding-left: 0px;
    padding-right:0px;
    margin-left:10px;
    overflow:auto;
    text-align:center;
    width:250px;
    float:left;
    position:fixed;
}

.reason {
    font-size:30px;
    line-height:85.7px;
}


.nav > li {
    margin-top:5px;
    margin-bottom:5px;
    
}

.nav > li > a {
    color: white;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 #657A31,
    1px -1px 0 #657A31,
    -1px 1px 0 #657A31,
    1px 1px 0 #657A31;
    background-color: #A5BA71;
    border-top: 1px solid #657A31;
    border-bottom: 1px solid #657A31;
    box-shadow: -3px -3px 5px #657A31 inset;
}

.nav > li > a:hover {
    color: white;
    background-color: #B5CA81;
}

.profile-picture {
    width:100%;
}

.profile-name {
    text-align:left;
}

.profile-picture-bar {
    margin-left:10px;
    margin-right:10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

a.sign-out {
    color: #6B880B;
}

a.sign-out:hover {
    color: #4B6800;
}

.following-list {
    margin-top:10px;
    padding-top:2px;
}

.following-ul {
    text-align:left;
}

.content {
    height:1000px;
    float:left;
    margin-top: 10px;
}

body {
    background-image: url("greyzz.png");
    background-repeat:repeat;
}