//directions for compilation: 
//copy and paste into http://sassmeister.com/
//copy and paste result into css file

$maincolor: #B9D68A;
$sidebarcolor: #E0E0C0;
$textinsidecolor: #FFFFFF;

.top-banner {
    
    text-align: center;
    background-color:$maincolor;
    box-shadow: 0px -5px 10px darken($maincolor,20%) inset;
    position: fixed;
    color: $textinsidecolor;
    text-shadow:
    -1px -1px 0 darken($maincolor,40%),
    1px -1px 0 darken($maincolor,40%),
    -1px 1px 0 darken($maincolor,40%),
    1px 1px 0 darken($maincolor,40%);
}



.title {
    font-size:60px;
    
}

.sidebar {
    background-color:$sidebarcolor;
    margin-top:10px;
    padding-left: 0px;
    padding-right:0px;
    margin-left:10px;
    overflow:auto;
    text-align:center;
    width:250px;
    float:left;
    position:fixed;
}

.reason {
    font-size:30px;
    line-height:85.7px;
}


.main-nav > li {
    margin-top:5px;
    margin-bottom:5px;
    
}

.main-nav > li > a {
    color: $textinsidecolor;
    font-weight: bold;
    font-size: 20px;
    text-shadow:
    -1px -1px 0 darken($maincolor,40%),
    1px -1px 0 darken($maincolor,40%),
    -1px 1px 0 darken($maincolor,40%),
    1px 1px 0 darken($maincolor,40%);
    background-color: $maincolor;
    border-top: 1px solid darken($maincolor,20%);
    border-bottom: 1px solid darken($maincolor,20%);
    box-shadow: -3px -3px 5px darken($maincolor,20%) inset;
}

.main-nav > li > a:hover {
    color: $textinsidecolor;
    background-color: lighten($maincolor,5%);
}

.profile-picture {
    width:100%;
}

.profile-name {
    text-align:left;
}

.profile-picture-bar {
    margin-left:10px;
    margin-right:10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

a.sign-out {
    color: darken($maincolor,30%);
}

a.sign-out:hover {
    color: darken($maincolor,40%);
}

.following-list {
    margin-top:10px;
    padding-top:2px;
}

.following-list-label {
    margin-bottom:7px;
}

.following-nav > li > a {
    color: black;
    padding: 5px;
    cursor: pointer;
}

.following-nav > li > a:hover {
    color: black;
    background-color: mix($sidebarcolor, $maincolor, 60%);
    
}

.content {
    height:1000px;
    float:left;
    margin-top: 10px;
    background-image: url("greyzz.png");
    background-repeat:repeat;
}

body {
    background-color: lighten(desaturate($sidebarcolor, 20%), 15%);
}

.following-line {
    width:80px;
}