body {
	/*
	background: -webkit-radial-gradient(rgb(137, 227, 255), rgb(131, 146, 255));
	background: -o-radial-gradient(rgb(137, 227, 255), rgb(131, 146, 255));
	background: -moz-radial-gradient(rgb(137, 227, 255), rgb(131, 146, 255));
	background: radial-gradient(rgb(137, 227, 255), rgb(131, 146, 255));
	*/
	/*background-image: url('./images/grass_blur.jpg');*/
	background-color: #4c66a4;
}

.container-fluid {
	text-align: center;
	width: 50%;
	margin-top: 100px 
}

.header {
	position: fixed;
	top: 15px;
	left: 20px;
	font-family: 'Changa One', cursive;
	font-size: 95px;
	color: white;
	line-height: 70%;
}

#italics {
	font-style: italic;
}

.description {
	font-size: 40px;
	margin-bottom: 20px;
	color: white;
	width: 50%;
	text-align: center;
	margin: 0 auto;
	padding-top: 300px;
	font-family: 'Raleway', sans-serif;
	//font-family: 'Shadows Into Light', cursive
}

.motivation {
	margin-top: 20px;
}

#sign_in {
	position: fixed;
	right: 5px;
	top: 5px;
	color: white;
	font-size: 15px;
}

a {
	color: white;
}

#bold {
	transition: border-radius 1s ease, color .5s ease;
	font-weight: 700;
	background-color: #B7B7B7;
	margin-left: 70px;
	margin-right: 70px;
	border-radius: 5px;
}

#bold:hover {
	border-radius: 50px;
	color: rgb(70, 70, 70)
}

.stop-smoking-signup-link:hover {
	color: rgb(70, 70, 70)
	cursor: pointer;
}

.btn:hover {
	color: rgb(70, 70, 70)
}

