/*.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip 
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently 
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}*/

#content path {
 stroke: steelblue;
 stroke-width: 2;
 fill: none;
 }
 .axis { shape-rendering: crispEdges; }
 .x.axis line { stroke: lightgrey; }
 .x.axis .minor { stroke-opacity: .5; }
 .x.axis path { display: none; }
 .y.axis line, .y.axis path {
 fill: none;
 stroke: #000;
 }
 .infobox {
 border:2px solid steelblue;
 border-radius:4px;
 box-shadow:#333333 0px 0px 10px;
 margin:200px auto;
 padding:5px 10px;
 background:rgba(255, 255, 255, 0.8);
 position:absolute;
 top:0px;
 left:0px;
 z-index:10500;
 font-weight:bold;
 }
