.graph-and-title-container {
    background-color: #f7f7f5;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}


#graph-container {
    overflow-x: auto;
}

.goals-column {
    padding-left: 0px;
}

#goals-container {
    margin-top: 20px;
    text-align:left;
    font-size:18px;
    border-radius: 4px;
    /*background-color: #4c66a4;*/
    /*color: #f7f7f5;*/
    background-color: #f7f7f5;
    color: #4c66a4;
    /*border: 1px solid black;*/
    line-height:30px;
    padding-left:25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
}

.goals-title {
    text-align:center;
    font-size: 22px;
    font-weight:bold;
    margin-bottom: 10px;
}

.harder-easier-buttons {
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 0px;
}

.harder-easier-button {
    transition: background-color 0.3s ease;
    border-color: rgb(76,102,164);
    background-color: #f7f7f5;
}

.harder-easier-button:hover {
    color:white;
    background-color: rgba(76,102,164,0.7);
}

.content-row {
    margin-left: 0px;
    margin-right: 0px;
}

.saved-cigarettes-container {
    font-size:24px;
    margin-top:40px;
}

.cigarette-facts-container {
    margin-top:10px;
    margin-bottom:30px;
    font-size:24px;
}

#saved-money-badge {
    display: table;
    background-image: url("green_badge.png");
    height: 130px;
    width: 130px;
    text-align: center;
    margin-top: 60px;
    margin-left: 30px;
    float: left;
}

#saved-money-details {
    display: table-cell;
    vertical-align: middle;
    /*padding-bottom: 10px;*/
}

#saved-title {
    margin-top: 0px;
}

#saved-money-cigarettes-container {
    margin-top: 20px;
    float: right;
    text-align:left;
    font-size:18px;
    border-radius: 4px;
    /*background-color: #4c66a4;*/
    /*color: #f7f7f5;*/
    background-color: #f7f7f5;
    color: #4c66a4;
    /*border: 1px solid black;*/
    line-height:30px;
    padding-left:25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.cigarettes-resisted {
    text-align: center;
    border-right: 1px solid;
    border-color: #4c66a4;
}

.money-saved {
    text-align: center;
    border-left: 1px solid;
    border-color: #4c66a4;
}

.saved-money {
    color: #FFB300;
}

.saved-cigarettes {
    color: #FFB300;
}

