.thumbnail > img {
    float: left;
    overflow: hidden;
    margin-right: 9px;
    height:100%;
}


.thumbnail > .caption {
    padding: 4px;
}

.btn {
    transition: background-color 0.3s ease;
    border-color: rgb(76,102,164);
    background-color: #f7f7f5;
    margin:5px;
    color:black;
}

.btn:hover {
    color:white;
    background-color: rgba(76,102,164,0.7);
}

.btn.following {
    transition: background-color 0.3s ease;
    color:white;
    background-color: rgba(76,102,164,0.7);
}

.btn.following:hover {
    background-color: rgba(76,102,164,0.3);
    color:black;
}

#search, #view-all{
	float: right; 
}

.people-info{
	text-align: center; 
}

#close-modal{
	margin: 10px; 
	float: right;
}

.bio{
	margin: 10px; 
	text-align: left; 
	border: 1px black; 
}

.thumbnail {
    width:100%;
    float:left;
    height:210px;
}

input:focus, input:active, select:focus, select:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset !important;
    border: 1px solid rgb(76,102,164) !important;
}
