#header {
	text-align: center;
	font-size: 40px;
	margin: 15px;
}

.tile {
	padding: 15px;
	height: 140px;
	width: 60%;
	margin: 25px 0px 0px 15px;
	background-color: white;
	border: 1px solid black;
	border-radius: 15px;
}

.tile:hover {
	background-color: #4c66a4;
	color: white;
    cursor:pointer;
}

.sub_title {
	font-size: 20px;
	text-align: center;
	font-weight: 700;
	border-bottom: solid 1px gray;
	margin-bottom: 5px;
}

.col-md-6:first-child .tile{
	float: right;
}
