body {
	background-image: url("./images/greyzz.png");
  	background-repeat: repeat;
}

textarea {
	resize: vertical;
}

.input-group {
	padding-bottom: 10px;
}

.input-bio {
	height: 100px;
}

.btn {
	color: white;
  	font-weight: bold;
  	font-size: 18px;
  	text-shadow: 0 -1px rgba(0, 0, 0, 0.8);
  	background-color: #4c66a4;
  	border: 1px solid black;
  	padding-top: 5px;
  	padding-bottom: 5px;
}

.btn:hover {
	background-color: black;
	opacity: 0.8;
    border: 1px solid black;
}

#button1to0, #button2to1, #button3to2 {
	float: left;
}

#button1to2, #button2to3, #buttonFinish {
	float: right;
}

#buttonFinish {}

.goals-form {
	text-align: center;
}

.user-input-section {
	height: 350px;
}

.left-bar {
	background-color: #4c66a4;
	border-left: 3px solid;
	border-right: 3px solid;
	border-color: black;
	display: inline-block;
	height: 100vh;
	width: 150px;
	float: left;
}

.right-bar {
	background-color: #4c66a4;
	border-left: 3px solid;
	border-right: 3px solid;
	border-color: black;
	display: inline-block;
	height: 100vh;
	width: 150px;
	float: right;
}

.left-side {
	padding-left: 0px;
}

.right-side {
	padding-right: 0px;
}

.ui-spinner {
    height:34px;
    color:#555555;
    padding:0px;
    border: 1px solid #CCCCCC;
}

#num-cigarettes-spinner {
    height:34px;
    padding: 6px 12px;
    background-color:#FFFFFF;
    margin:0px;
    font-family:inherit;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    font-size:14px;
}

textarea:focus, textarea:active, input:focus, input:active, select:focus, select:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset !important;
    border: 1px solid #B9D68A !important;
}

.disclaimer {
    text-align:center;
}

.statusbar-wrapper {
	text-align: center;
}

.statusbar {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	height: 150%;
}

.personal-info-box {
	border: 3px solid;
	border-color: black;
}

.smoking-info-box {
	border-right: 3px solid;
	border-top: 3px solid;
	border-bottom: 3px solid;
	border-color: black;
}

.goals-info-box {
	border-right: 3px solid;
	border-top: 3px solid;
	border-bottom: 3px solid;
	border-color: black;
}

.info-box {
	display: table-cell;
	height: 70px;
	width: 120px;
	text-align: center;
	vertical-align: middle;
}

.info-box-on {
	background-color: #4c66a4;
	color: white;
}

.info-box-off {
	background-color: #909090;
}

.info-box-off:hover {
	background-color: rgba(76,102,164,0.7);
	color: white;
}

.info-box-on:hover {
	background-color: rgba(76,102,164,0.7);
}




