
body { 
	padding-top: 70px; 
}

.profile-picture {
  height: 40px;
  float: right;
  margin-right: 10px;
  margin-left: 5px;
}

.content {
  float: left;
  padding-left: 10px; 
  margin-top: 10px;
  text-align:center;
  z-index: 1; 
}


.sidebar {
  margin-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 10px;
  overflow: auto;
  text-align: center;
  width: 250px;
  float: left;
}