<template name="frame">
<div class="container-fluid">
    <div class="row row-top">
	<div class="col-md-12 top-banner">
	    <div class="row">
		<div class="col-md-2 title">
		    Enough.
		</div>
		<div class="col-md-5 reason">
		    <span class="reason-span">To be a good example for my kids.</span>
		</div>
		<div class="col-md-5 top-links">
		    <div class="profile-name">
			<b>Jim Bob</b><br>
			<a href="#" class="sign-out">Sign out</a>
		    </div>
		    <img src="./images/prof_pic.jpg" class="profile-picture">
		    <ul class="top-nav nav nav-pills">
			
			<li><a>About</a></li>
			<li><a>Home</a></li>
		    </ul>
		</div>
	    </div>
	</div>
    </div>
    <div class="row">
	<div class="sidebar">
	    <div id="frame-progress">
		This week's goal: 17 per day
		<div class="progress">
		  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
		    <span class="sr-only">60% Complete</span>
		  </div>
		</div>
		Current average: 18.2 per day
	    </div>
	    <button class="btn btn-primary" id="update-progress-btn">Update Progress</button>
	    <ul class="main-nav nav nav-pills nav-stacked">
		    <li><a href='./myprogress.html'>My Progress</a></li>
		    <li><a href='./people.html'>People</a></li>
		    <li><a href='./forums.html'>Forums</a></li>
		    <li><a href='./resources.html'>Resources</a></li>
	    </ul>
	    
	    <div class="following-list">
		<span class="following-list-label"><img src="./images/following line right.png" class="following-line"><b>Following</b><img src="./images/following line left.png" class="following-line"></span>
		<ul class="following-nav nav nav-pills nav-stacked">
			{{#each following}}
				<li><a>{{name}}</a></li>
			{{/each}}
		</ul>
	    </div>
	    
	</div>
		<div id="content">
			{{> yield}}
		</div>
    </div>
</div>
</template>
