<template name="goals">
	<div class='goal'><span class='glyphicon glyphicon-unchecked'></span>
		<span><b>Today</b>, you should only have XXX cigarettes.</span>
	</div>
	<div class='goal'><span class='glyphicon glyphicon-unchecked'></span>
		<span><b>Tomorrow</b>, only smoke XXX cigarettes.</span>
	</div>
	<div class='goal'><span class='glyphicon glyphicon-unchecked'></span>
		<span>This <b>week</b>, average XXX cigarettes per day.</span>
	</div>
	<div class='goal'><span class='glyphicon glyphicon-unchecked'></span>
		<span>This <b>month</b>, get down to XXX cigarettes per day.</span>
	</div>
	<div class='goal'><span class='glyphicon glyphicon-ok'></span>
		<span><b>Yesterday</b>, you only smoked XXX cigarettes. Good job!</span>
	</div>
	<div class='goal'><span class='glyphicon glyphicon-remove'></span>
		<span><b>Last Night</b>, you failed!</span>
	</div>
</template>
