<template name="index">
<html>
	<head>
	</head>
	<body class="index_bkgd">
		<div class="index_logo">Enough.</div>
		<div class="description">
			<div class="statistic"><span id="italics">8.6 million people</span> in the U.S. have at least one serious illness caused by smoking.</div>
			<div class="motivation">Take the first step.<span id="bold"> <br>Stop smoking today.</span></div>
		</div>
		<div id="sign_in">
			<span class="glyphicon glyphicon-user"></span>
			<span><a id="index_links" href="#">Log-in </a>| </span>
			<span><a href="#" id="sign-up-button index_links">Sign-up</a></span>
		</div>
	</body>
</html>
</template>
